<div class="row justify-content-center align-items-center my-4">
    <table class="table col-6">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Batsman</th>
          <th scope="col">Run</th>
          <th scope="col">Ball</th>
          <th scope="col">4s</th>
          <th scope="col">6s</th>
          <th scope="col">SR</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
      </table>
</div>


<div class="row justify-content-center align-items-center my-4">
    <table class="table col-6">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Baller</th>
          <th scope="col">Over</th>
          <th scope="col">M</th>
          <th scope="col">Run</th>
          <th scope="col">Wicket</th>
        </tr>
      </thead>
      <tbody>
       
      </tbody>
      </table>
</div>




